<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">GameHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="{{menuChoice=='add'? 'nav-link active' : 'nav-link'}}" (click)="chooseMenu('add')">Add Post <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="menuChoice">
          <a class="nav-link" (click)="chooseMenu('')">Manage Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/admin">Back tp Admin</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{theUser ? theUser.email : 'Username' }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button  class="dropdown-item" (click)="logout()">Logout</button>
                </div>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div [ngSwitch]="menuChoice">
    <div *ngSwitchCase="'add'"><blog-add></blog-add></div>
    <div *ngSwitchDefault>
        <div *ngIf="formDisplay" class="container">
            <div class="row" style="margin-top: 15px" *ngFor="let post of blogPosts">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" [src]="post.img" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{post.title}}</h4>
                        <p class="card-text">{{post.content | truncate: 130}}</p>
                        <button (click)="editPost(post)" class="btn btn-primary">Edit</button>
                        <button (click)="deletePost(post)" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!formDisplay">
          <div class="container" style="margin-top: 20px">
            <h1>Update Post</h1>
            <form style="margin-top: 10px">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Post Title</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="singlePost.title" required name="postTitle" type="text" class="form-control"  placeholder="Title">
                </div>
              </div>
        
              <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Post Content</label>
                <div class="col-sm-10">
                  <textarea class="form-control" [(ngModel)]="singlePost.content" name="content" rows="15" required></textarea>
                </div>
              </div>
        
              <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Current Image</label>
                <div class="col-sm-10">
                    <img style="max-height: 150px" [src]="singlePost.img" alt="Ïmage Preview..."/>
                </div>
              </div>
              
              
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="button" (click)="updatePost(post)" class="btn btn-primary">Update</button>
                  <button type="button" (click)="canclEdit()" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>