<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">GameHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="{{menuChoice=='add'? 'nav-link active' : 'nav-link'}}" (click)="chooseMenu('add')">Add Post <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="menuChoice">
          <a class="nav-link" (click)="chooseMenu('')">Manage Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/admin">Back tp Admin</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{theUser ? theUser.email : 'Username' }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button  class="dropdown-item" (click)="logout()">Logout</button>
                </div>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div [ngSwitch]="menuChoice">
    <div *ngSwitchCase="'add'"><blog-add></blog-add></div>
    <div *ngSwitchDefault><h1>Default Case</h1></div>
  </div>